<div class="container">
  <h2><%= @user.name %></h2>
  <%= image_tag @user.pic_url %>
  <div class="container">
      <h3>Added Beers</h3>
        <table>
    <% @user.craft_beers.each do |beer| %>
      <td><%= beer.name %></td>
      <td><%= link_to "Show", craft_beer_path(beer) %></td>
      <td><%= link_to "Edit", edit_craft_beer_path(beer) %></td>
      <td><%= link_to "Destroy", craft_beer_path(beer),
          method: :delete,
          data: { confirm: 'Are you sure?'} %></td>
      <td><%= link_to "Fav", craft_beer_favorites_path(beer), method: :create %></td>
    <% end %>
    </ul>
  </table>
    <div>
     <%= link_to "New Beer", new_craft_beer_path %>
    </div>
  </div>
</div>

