<div class="container">
  <h1>Skumps</h1>
  <h3>Check out a new beer below...</h3>
  <div class="container">
    <h3><%= @beers.name %></h3>
    <%= @beers.description %>
    <%= @beers.abv %>
    <%= @beers.ibu %>
    <%= @beers.glasswareId %>
  </div>
</div>
