<div class="container">
  <h1>Beer Refresh</h1>
  <div class="container">
    <h3><%= @beers.name %></h3>
    <%= @beers.description %>
    <%= @beers.abv %>
    <%= @beers.ibu %>
    <%= @beers.glasswareId %>
  </div>
</div>
