<h1>Beers#new</h1>
<p>Find me in app/views/beers/new.html.erb</p>

<%= form_for(@beer) do |beer| %>
  <%= beer.label :name %>
  <%= beer.text_field :name %>
  <%= beer.label :brewery %>
  <%= beer.text_field :brewery %>
  <%= beer.label :city %>
  <%= beer.text_field :city %>
  <%= beer.label :description %>
  <%= beer.text_field :description %>
  <%= beer.label :pic_url %>
  <%= beer.text_field :pic_url %>
  <%= beer.submit "Submit Beer" %>
<% end %>

<div>
  <%= link_to "Back to List", craft_beers_path %>
</div>
