<%= image_tag @beer.pic_url %>

<h1><%= @beer.name %></h1>

<h3><%= @beer.brewery %></h3>
<h3><%= @beer.city %></h3>
<h3><%= @beer.description %></h3>

<footer>
  <%= link_to "Back to Home", main_path %>
</footer>
