<!DOCTYPE html>
<html>
  <head>
    <link href="./assets/favicon.ico" rel="icon" type="image/x-icon" />
    <title>CraftBeerApp</title>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/header" %>
    <% flash.each do |name, message| %>
      <div class="flash-message flash-message-<%= name %>">
        <%= message %>
      </div>
    <% end %>
      <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
