<!DOCTYPE html>
<html>
<head>
  <title>CraftBeerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>
  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= message %>
    </div>
  <% end %>

  <% if current_user %>
    <p> hello, <%= current_user.email %></p>
    <%= link_to 'Logout', logout_path, method: :delete, data: {connfirm: "Are you sure?"} %>
  <% else %>
    <%= link_to 'Please login', login_path %>
    <%= link_to ' / Sign Up', signup_path %>
  <% end %>

<%= yield %>
<%= render "shared/footer" %>

</body>
</html>
